.btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;

    cursor: pointer;
    color: var(--button-text-color);
    height: fit-content;

    border: 1px solid transparent;
    border-radius: 10px;

    background:
    linear-gradient(var(--button-color), var(--button-color)) padding-box,
    linear-gradient(160deg, var(--button-gragient-color), transparent) border-box;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.btn-primary {
    padding: 16px 24px;
}

.btn-secondary {
    width: 130px;
    height: 66px;

    border: none;
    border-radius: 100px;
    background-color: #4A2CED;
    box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
    background-image: url("../../assets/icons/iconLink.png");
    background-position: center;
    background-repeat: no-repeat;
}

.btn-switcher {
    padding: 8px 20px ;
}

.btn-socials {
    height: 48px;
    width: 48px;
    padding: 14px;
    border-radius: 100px;

    position: relative;
}
.btn-socials::after {
    width: 20px;
    height: 20px;

    content: '';
    position: absolute;
    top: 49%;
    left: 29%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    image-rendering: crisp-edges;
    background-repeat: no-repeat;
    background-position: center;
}